@model List<Silder>

<section class="slider-area slider-active">
    @foreach (Silder silder in Model)
    {
<div class="single-slider">
    <div class="slider-image">
        <img src="~/assets/images/@silder.Image" alt="slider">
    </div>
    <div class="slider-content-wrapper">
        <div class="container-fluid custom-container">
            <div class="slider-content">
                <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">@silder.SubTitle</h4>
                <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title ">@Html.Raw(@silder.MainTitle)</h1>
                <p data-animation="fadeInRightBig" data-delay="0.5s">@silder.Description</p>
                <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="@silder.RedirectUrl">Shop Now</a>
            </div>
        </div> <!-- container -->
    </div>
</div> <!-- single slider -->
                <div class="single-slider">
                    <div class="slider-image">
                        <img src="~/assets/images/slider-2.jpg" alt="slider">
                    </div>
                    <div class="slider-content-wrapper">
                        <div class="container-fluid custom-container">
                            <div class="slider-content">
                                <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">Save $120 when you buy</h4>
                                <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title "><span>4K HDR Smart TV 43 </span> Sony Bravia.</h1>
                                <p data-animation="fadeInRightBig" data-delay="0.5s">Explore and immerse in exciting 360 content with Fulldive’s all-in-one virtual reality platform</p>
                                <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                            </div>
                        </div> <!-- container -->
                    </div>
                </div> <!-- single slider -->
    }
</section>